body{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Lucida Console", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Nimbus Sans L", "Verdana", "Geneva", "Lucida", "Helvetica", "Arial", "Sans", "serif";
    font-size: 10pt;
    background-color: #f0f0f0;
    
}